{
  "database": {
    "type": "postgres",
    "host": "localhost",
    "port": 5432,
    "username": "postgres",
    "password": "passpost",
    "database": "sanbercode"
  },
  "server": {
    "workerPort": 7001,
    "taskPort": 7002,
    "performancePort": 7003
  },
  "minio": {
    "endPoint": "127.0.0.1",
    "port": 9000,
    "useSSL": false,
    "accessKey": "minio",
    "secretKey": "minioadmin"
  }
}